#connect-component-container {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: -1;

    #connect--outer {
        transition: 0.5s height, 0.5s visibility;
        position: relative;
    }

    .--outer {
        width: 55%;
        margin: 0 auto;
        overflow: scroll;
        background: black;
        color: white;
        opacity: .9;
    }
}

@media screen and (max-width: 1280px) {
    #connect-component-container .--outer {
        width: 58%;
    }
}
.component-wrapper--fb {
    width:50%;
    position: absolute;
    right: 0;
}
#fb-component-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}
.fb-embed {
    // css here
}