#connect-component-container {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: -1;

    #connect--outer {
        transition: 0.5s height, 0.5s visibility;
        position: relative;
        overflow: hidden;
    }

    .--outer {
        width: 55%;
        margin: 0 auto;
        overflow: scroll;
        background: black;
        color: white;
        opacity: .93;
    }
}

@media screen and (max-width: 1280px) {
    #connect-component-container .--outer {
        width: 58%;
    }
}



.connect-cta-container, .component-wrapper--fb {
    display: inline-block;
}


element.style {
}
.connect-cta-container {
    // height: 100%;
    /* width: fit-content; */
    // background: white;
    // color: black;
    // width: 40%;
    /* margin: 0 auto; */
    /* position: absolute; */
    // left: 5%;
    // top: 10%;
    // vertical-align: middle;

    .--inner {
        padding: 10px;
        left: 5%;
        background: white;
        color: black;
        vertical-align: middle;
        position: absolute;
        height: 90%;
        /* height: 40px; */
        // top: 40%;
        width: 40%;
        overflow: scroll;

        div.row {
            max-height: 100%;

            div {
                height: fit-content;
            }
        }

        .cta-links-container, .cta-email-container {
            a {
                color: #3A3A3A;
                display: block;
            }
        }



    }
}


.component-wrapper--fb {
    width:50%;
    position: absolute;
    right: 0;
    height: 100%;
}
#fb-component-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}
.fb-embed {
    // css here
}