#connect-component-container {
    position: fixed;
    width: 100%;
    left: 0;
    // transition: 0.5s height;

    #connect--outer {
        height: 100%;
        transition: 0.5s height, 0.5s visibility;
    }

    .--outer {
        width: 55%;
        // height: 80vh;
        margin: 0 auto;
        // background: rgba(255,255,255,.84);
        // color: black;
        overflow: scroll;
        background: black;
        color: white;
        opacity: .9;
    }
}

@media screen and (max-width: 1280px) {
    #connect-component-container .--outer {
        width: 58%;
    }
}
