div.audio-feed {
    position: absolute;
    right: 20px;
}

iframe.bandcamp-player {
    border: 0; 
    width: 100%; 
    // height: 786px;
    height: 472px;
}

div.video-feed {
    position: absolute;
    left: 20px;
}

div.column-feed {
    width: 20%;
    text-align: center;
    border: 1px solid silver;
    height: fit-content;
    overflow: scroll;
    top: 0;
}