#home-component {

    #ccc-outer {
        background: black;
        // opacity: 1;
        // background: none;
    }

    .component-content-container--inner {
        overflow: hidden;
        position: relative;
        height: 100%;
        // placeholder until slideshow/carousel is implemented
        // background: url('../img/photos/gallery/full/promo_band_3.jpg') no-repeat center;
        // background-size: cover;
    }
    .component-wrapper--cta {
        // display: inline-block;
        display: inline;
        // width: 100%;
   
        .connect-cta-container {
            display: block;
            margin: 0;
            height: unset;
            // width: 45%;
    
            .--inner {
                position: relative;
                right: 0;
                width: 100%;
                height: 100%;

                .--inner-inner {

                    // background: none;
                    background: black;
                    text-align: center;
                    padding-bottom: 2%;


                    div.cta-email-container {
                        a.fa-email:hover::before {
                            // color: #00AD60;
                            color: white;
                        }
                    }
                    div.cta-label-container {
                        display: none;
                    }
                    div.cta-links-container, div.cta-email-container {
                        display: inline !important;
                    }

                    .cta-links-header.row {
                        display: none;
                    }
    
                    .cta-links-container.row, .cta-email-container.row {
    
                        width: 50%;
                        margin: 0 auto;
                        display: block;
                        text-align: center;
                        
                        div {
                            flex: 0 0 0;
                            max-width: unset;
                            display: inline;
                            padding: 0;
    
                            a {
                                display: inline;
                                padding: 0 5%;
                            }
                        }
                    }
                }
            }
        }
    }

    .component-wrapper--fb {
        width: 52%;
        right: 0;

        #fb-component-container {
            float: right;
        }
        
        #fb-root {
            display: inline;
        }
    }

    .gallery-photos {
        padding-top: 0;
    }


    // bootstrap carousel

    #home-carousel {
        img {
            width: 100%;
        }
    }


}

