
.icon-facebook-squared:before { content: '\fb'; } /* 'û' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */